<div>
  <span style="padding-left: 50px;"></span> <label for="stepSizeSelect">Step size in {{useSeconds ? "seconds:&nbsp;&nbsp;&nbsp;" : "messages:"}} </label><select id="stepSizeSelect" [(ngModel)]="step">
  <option value="1">1</option>
  <option value="3">3</option>
  <option value="5">5</option>
  <option value="10">10</option>
  <option value="15">15</option>
</select><span style="padding-left: 50px;"></span> <label for="stepSpeedSelect">Autoplay speed: </label><select id="stepSpeedSelect" [(ngModel)]="stepSpeed">
  <!--<option value="0.1">10x</option>-->
  <option value="0.25">4x</option>
  <option value="0.5">2x</option>
  <option value="1">1x</option>
  <option value="2">0.5x</option>
  <option value="4">0.25x</option>
  <option value="10">0.1x</option>
  <option value="20">0.05x</option>
</select>
  <label style="padding-left: 50px;">Use Seconds<input type="checkbox" id="useSeconds" [(ngModel)]="useSeconds"></label>
  <input type="range" min="0" [step]="step" [max]="_sliderMax" [value]="currentTime" (change)="timeSliderChanged($event)" style="width: 100%">
  <span style="width: 105px; display: inline-block">
    <ng-container *ngIf="useSeconds"><ng-container *ngIf="flightDurationSeconds >= 3600">{{floor(_currentTime/3600, 1)}}:</ng-container>{{floor((_currentTime%3600)/60, 2)}}:{{floor(_currentTime%60, 2)}}</ng-container>
    <ng-container *ngIf="!useSeconds"><input type="number" [(ngModel)]="currentTime" [max]="_sliderMax" [disabled]="useSeconds" style="width: 90%"></ng-container>
  </span>
  <button (click)="jumpToStart()">|<</button><button (click)="jumpPrevious()"><<</button><button (click)="previousStep()"><</button> <button (click)="playButtonClicked($event.target)" id="startButton" [disabled]="_currentTime===_sliderMax">start</button> <button (click)="nextStep()">></button><button (click)="jumpNext()">>></button><button (click)="jumpToEnd()">>|</button>
</div>
