<h2 mat-dialog-title>Appearance</h2>

<mat-dialog-content  style="width: 200px; height: fit-content; overflow-y:hidden" [formGroup]="form">
  <mat-checkbox color="primary" formControlName="checkbox0">flight info </mat-checkbox><br/>
  <mat-checkbox color="primary" formControlName="checkbox1">controller info</mat-checkbox><br/>
  <mat-checkbox color="primary" formControlName="checkbox2">anomalies</mat-checkbox><br/>
  <mat-checkbox color="primary" formControlName="checkbox4">raw data view</mat-checkbox><br/>
  <mat-checkbox color="primary" formControlName="checkbox5">general flight info</mat-checkbox><br/>
  <!-- //#checkboxNumber-->
  <mat-checkbox color="primary" formControlName="checkbox3">data graph</mat-checkbox><br/>
</mat-dialog-content>

<br/>
<mat-form-field appearance="fill">
  <mat-label>Map View</mat-label>
  <mat-select [(value)]="_selectedMap">
    <mat-option *ngFor="let mapView of mapViews" [value]="mapView.value">
      {{mapView.viewValue}}
    </mat-option>
  </mat-select>
</mat-form-field>
<br/>
<mat-form-field appearance="fill">
  <mat-label>Line Color</mat-label>
  <mat-select [(value)]="_selectedColor">
    <mat-option *ngFor="let lineColor of lineColors" [value]="lineColor.value">
      {{lineColor.viewValue}}
    </mat-option>
  </mat-select>
</mat-form-field>

<mat-dialog-actions>
  <button class="mat-raised-button" (click)="close()">Close</button>
  <button class="mat-raised-button mat-primary" (click)="save()">Save</button>
</mat-dialog-actions>

