.iconSpan {
  float: right;
}

#infoChartBgDiv.full-screen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1002;
  background-color: hsla(0,0%,0%,0.5);
}

.full-screen > #infoChartDiv {
  width: 95vw;
  height: 95vh;
  margin-top: 2.5vh;
  margin-left: 2.5vw;
  z-index: 1003;
  background-color: white;
}

.fullscreen-button{
  display: none;
}

.full-screen .fullscreen-button{
  display: inline-block;
}

#infoChartContainer {
  height: 200px;
  padding-top: 0;
  padding-left: 5px;
  padding-right: 5px;
}

.full-screen #infoChartContainer {
  height: 90vh;
  padding-top: 44px;
  padding-left: 10px;
  padding-right: 10px;
}

#infoChart {
  position: initial;
}

#settingsDiv {
  height: 250px;
  overflow-y: auto;
}
