<p><b>Flight Info:</b></p>
<div id="flightInfoDiv">
  <span class="label">
    <span class="material-icons grey" title="drone type">rocket_launch</span>
  </span>
  <span class="value">{{getProductNameString(productType)}}</span>
  <span class="label">
    <span class="material-icons grey" title="flight date">calendar_month</span>
  </span>
  <span class="value">{{flightDate}}</span>
  <span class="label">
    <span class="material-icons grey" title="flight begin time">schedule</span>
  </span>
  <span class="value">{{flightStartTime}}</span>
  <span class="label">
    <span class="material-icons grey" title="flight duration">timelapse</span>
  </span>
  <span class="value">{{flightDuration}} min</span>

  <span class="label">
    <span class="material-icons grey" title="time until fixed time">hourglass_disabled</span>
  </span>
  <span class="value">{{timeOffset}} s</span>
  <span class="label">
    <span class="material-icons grey" title="time until gps available">gps_off</span>
  </span>
  <span class="value">{{timeUntilGPS}} s</span>
  <span class="label">
    <span class="material-icons grey" title="time until first takeoff">schedule_send</span>
  </span>
  <span class="value">{{timeUntilTakeOff}} s</span>
</div>
