#flightInfoDiv {
  display: grid;
  grid-template-columns: 50px 1fr;
  height: fit-content;
}

.label {
  grid-column: 1;
  margin-right: 5px;
}

span.grey {
  color: grey;
}

.value {
  grid-column: 2;
  cursor: default;
}

.material-icons {
  cursor: help;
}
