<div id="appGrid">
  <app-map [mapType]="_mapType"></app-map>
  <app-time-slider></app-time-slider>
  <app-file-selector></app-file-selector>
  <div id="infos">
    <app-flight-info id="infos5"></app-flight-info>
    <br/>
    <app-info id="infos0"></app-info>
    <br/>
    <app-controller-status id="infos1"></app-controller-status>
    <br/>
    <app-anomaly id="infos2" style="display: none"></app-anomaly>
    <br/>
    <app-diagram id="infos3"></app-diagram>
    <br/>
    <app-raw-data id="infos4"></app-raw-data>
    <br/>
    <app-flightlog id="infos6"></app-flightlog>
  </div>
  <!--<div>-->
    <button id="appearanceButton" (click)="openDialog()">Appearance</button>
  <!--</div>-->
</div>
<ng-container *ngIf="_showLoadingSpinner">
  <div id="loadingSpinnerDiv">
    <mat-spinner></mat-spinner>
    <span [innerText]="loadingInfoText"></span>
  </div>
</ng-container>
