<div id="infoDiv">
  <p><b>general Info</b></p>
  <span class="label">
    <span class="material-icons grey" title="longitude">gps_fixed</span>
  </span>
  <span class="value">{{longitude}}</span>
  <span class="label">
    <span class="material-icons grey" title="latitude">gps_fixed</span>
  </span>
  <span class="value">{{latitude}}</span>
  <span class="label">
    <span class="material-icons grey" title="altitude above ground">upgrade</span>
  </span>
  <span class="value">{{altitudeNN - _fileAltitude | number: "1.2-2"}} m</span>
  <span class="label">
    <span class="material-icons grey" title="altitude above NN">waves</span>
  </span>
  <span class="value">{{altitudeNN | number: "1.2-2"}} m</span>
  <span class="label">
    <span class="material-icons grey" title="altitude by ultra sound">expand</span>
  </span>
  <span class="value">
    <ng-container *ngIf="uSonic_valid">{{(uSonic_height/10)-10 | number: "1.0-0"}} cm</ng-container>
    <ng-container *ngIf="!uSonic_valid"> -- cm</ng-container>
  </span>
  <span class="label">
    <span class="material-icons grey" title="vertical speed">flight</span>
  </span>
  <span class="value">{{vSpeed | number: "1.2-2"}} m/s</span>
  <span class="label">
    <span class="material-icons grey" title="horizontal speed" style="transform: rotate(90deg)">flight</span>
  </span>
  <span class="value">{{hSpeed | number: "1.2-2"}} m/s</span>
  <span class="label">
    <span class="material-icons grey" title="flight distance">query_stats</span>
  </span>
  <span class="value">{{distance | number: "1.2-2"}} m</span>
  <br/>
  <span class="label">
    <span class="material-icons grey" title="satellite number">satellite_alt</span>
  </span>
  <span class="value">{{satelliteNumber}}</span>
  <br/>
  <span class="label">
    <span class="material-icons grey" title="battery level">battery_std</span>
  </span>
  <span class="value">{{batteryPercentage}}%</span>
  <span class="label">
    <span class="material-icons grey" title="battery temperature">thermostat</span>
  </span>
  <span class="value">{{batteryTemp}}°C</span>
</div>
