<b>Raw data:</b><br/>
<select [(ngModel)]="showedMessageType" (change)="selectUpdated()">
  <option value="latest" title="If time is set to Seconds, this always displays a GPS message!">latest message</option>
  <option value="gps" style="cursor: help;">GPS</option>
  <option value="control">Controller</option>
  <option value="uSonic">Ultrasonic</option>
  <option value="battery">Battery</option>
  <option value="osd">OsdGeneral</option>
  <option value="imuAtti">imuAtti</option>
  <option value="recMag">Magnetometer</option>
  <option value="escData">escData</option>
  <option value="MotorCtrl">MotorCtrl</option>
</select><br/>
<div>
  <section>
    <span>message type: {{messageType}}</span><br/>
    <span>message number: {{messageNumber}}</span><br/>
    <span>.dat file offset: {{datFileOffset}}</span><br/>
    <span *ngIf="pktId===2096">flight second: {{second}}</span>
  </section>
  <hr>
  <section id="dataSection"></section>
</div>
